<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Firefly" version="0.5" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="0.20-alpha-20212-60" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpSys" version="0.2-alpha1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="0.20-alpha-20212-60" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Types" version="0.8.3-alpha" targetFramework="net45" />
</packages>